footer {
	clear: both;
	.container {
		display: flex;
		justify-content: space-around;
		.grid {
			width: calc(33.3% - 20px);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			ul.menu {
				background: #fff;
				li > a {
					color: #333;
				}
			}
			h2 {
				font-family: $display;
				color: $darkgray;
				text-transform: uppercase;
				font-size: 2.3rem;
			}
			
		}
	}
}