@import 'variables';

nav.home {
	margin: 0;
	padding: 0;
	background-color: $black;
	width: 100%;
	display: block;
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		li {
			display: inline;
			margin-right: 10px;
			a {
				padding: 10px;
				color: $white;
			}
		}
		h1 > a {
			font-family: $display;
			color: $white;
			text-transform: uppercase;
			font-size: 2.3rem;
		}
	}
}

nav.main {
	width: 100%;
	margin: 0;
	padding: 0;
	background: $white;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				padding: 10px;
				color: $darkgray;
			}
		}
		h1 > a {
			font-family: $display;
			color: $darkgray;
			text-transform: uppercase;
			font-size: 2.3rem;
		}
	}
}

