/*font-family: 'Hind', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

$display: 'Playfair Display', serif;
$hind: 'Hind', sans-serif;
$monsterat: 'Montserrat', sans-serif;
$white: #fdfdfd;
$pink: #fde3dc;
$blue: #bddbfd;
$black: #232323;
$darkgray: #78797b;
$lightgray: #d7d7d7;